################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Azure.Monitor/v16
/Azure.Monitor.Application_Insights/bin/Debug/netcoreapp3.1
/Azure.Monitor.Application_Insights/obj
